block config
  include variables
  include /mixins/banner
  include /mixins/form
  include /mixins/button-contact-mixin
  include /mixins/card-services
  include /mixins/card-business
  include /mixins/slide-js

doctype html
html(lang="es")
  head
    title= `${siteName} | Login Hotspot`
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    meta(name="description" content=metaDescription)
    meta(name="theme-color" content=metaColor)
    block styles
      link(rel="stylesheet" href="css/style.css")
      link(rel="shortcut icon" href="images/favicon.png")
    block fonts
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap" rel="stylesheet">
      <link rel="icon" href="images/logo-white.png">
    
  body(class=`${currentPage.toLowerCase() === 'status' ? 'wrapper' : ''}`)
    if (currentPage.toLowerCase() !== 'status')
      include /includes/main-header
    
    // ----------- main -----------  
    main.main
      block main

    if (currentPage.toLowerCase() !== 'status')
      include /includes/main-footer
    
    block scripts
      script(src="js/script.js")
      script(src="https://polyfill.io/v3/polyfill.min.js?features=default")
