mixin form(title, buttonText, inputInfo)
  // ------------ form ------------ 
  .form-container
    //- ------- Title form ---------------  
    span(class="title  center-content")= `${title ? title.toUpperCase() : 'Default title'}`
    
    if inputInfo.length > 0
      //- -------------------- form --------------  
      form.form(method="POST")
        each input in  inputInfo
          div(class="form__input")
            div(class=`icon  ${input.icon}`)
            input(class="input" 
              id=input.id 
              type=`${input.itype ? input.itype : 'text'}` 
              placeholder=input.placeholder 
              name=input.name 
              required)
    
        div(class="form__input  form__input--hidden")
          input()
        div(class="form__input  form__input--hidden")
          input()
        input(class="button-primary" type="submit", value=`${buttonText ? buttonText : 'Default text'}`)
    else    
      p.center-content(style="color: tomato") ⚠ Array empty
    p.text.center-content Text random
